body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.sub-menu {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 32px;
    background-color:#F7F7F7;
    justify-content: center;
}

.sub-menu .menu {
    margin: 0;
    padding: 0;
    width: 970px;
    display: flex;
    justify-content: right;
    z-index: 30;
}

.sub-menu .menu {
    margin: 0;
    padding: 0;
}

.sub-menu .menu li {
    margin: 0;
    padding-top: 3px;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.sub-menu .menu li a {
    margin: 0;
    padding-right: 35px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #00044D;
}

.sub-menu ul li a:hover {
    color: #046cc4;
}

/* ------------------------------------------- */

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 40;
    background-color: none;
    transition: height 0.5s, background-color 0.5s;
    height: 75px;
}

.wrapper:hover {
    height: 270px;
    background-color: white;
    /* border-bottom: 1px solid gray; */
    transition: all 0.5s;
}

.wrapper .max-width-wrapper {
    display: flex;
    width: 1000px;
    height: auto;
    margin: 0;
    padding: 0;
}

.wrapper .max-width-wrapper img {
    width: 230px;
    margin: 0;
    padding-top: 5px;
    justify-content: start;
}

/* --------------------------------------- */

.main-menu {
    width: 750px;
    height: auto;
    margin: 0;
    padding-left: 45px;
    justify-content: end;
}

.main-menu .nav {
    position: relative;
    z-index: 30;
}

.main-menu nav a {
    text-decoration: none;
    margin: 0;
    padding-top: 20px;
}

.main-menu nav ul {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 30;
}

.main-menu nav > ul {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 75px;
    overflow: hidden;
    font-size: 0;
}

.main-menu nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu nav > ul > li {
    display: inline-block;
    width: 140px;
    height: 20px;
    position: relative;
}

.main-menu nav > ul > li > a {
    display: block;
    /* width: 150px; */
    font-size: 18px;
    color: black;
    font-weight: bold;
    position: relative;
}

.main-menu nav > ul > li > a::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    bottom: -16px;
    background-color: #046cc4;
    transition: all 0.5s;
}

.main-menu nav > ul > li:hover > a:after {
    width: 100%;
    left: 0;
}

.main-menu nav ul li a:hover {
    color: #046cc4;
    /* background-color: #00044D; */
}

.main-menu nav > ul ul {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 23px;
    opacity: 0;
    transition: all 0.5s;
}

.main-menu nav > ul:hover {
    overflow: visible;
}

.main-menu nav > ul:hover ul {
    opacity: 1;
}

.main-menu nav > ul ul li {
    line-height: 43px;
}

.main-menu nav > ul ul a {
    font-size: 14px;
    font-weight: bold;
    color: black;
}